* {
  padding: 0;
  margin: 0;
  outline:none;
}

body {
  font-size: 100%;
  margin:35px 50px;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}
a:hover, a:active {
    color: grey;
    cursor: pointer;
    transition: color 500ms;
}
